html, body {
  display: flex;
  background: #eefbff; 
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

.footer {
  color: #2083c0;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  /* margin-top: 250px; */
}

.banner {
  color: #2083c0;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  margin-top: 50px;
}

.banner-msg {
  margin-top: 50px;
  width: 450px;
}

a {
 color: #0e6090;
 font-weight: bold;
}